# データベースURL
DATABASE_URL="postgresql://user:Passw0rd!@localhost:5432"
POSTGRES_USER="user"
POSTGRES_PASSWORD="Passw0rd!"

# FireBase関連
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# minIO
MINIO_USER=minio
MINIO_PASSWORD=Passw0rd!
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=Passw0rd!
MINIO_BUCKET=reeltrip
MINIO_PUBLIC_BUCKET=public
MINIO_ENDPOINT=127.0.0.1
MINIO_PUBLIC_ENDPOINT=