services:
  postgresql:
    image: postgres:17
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  minio:
    image: minio/minio:RELEASE.2025-09-07T16-13-09Z
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      MINIO_SERVER_URL: https://reeltrip.hal-93.dev
      MINIO_BROWSER_REDIRECT_URL: https://reeltrip.hal-93.dev
    command: server /data --console-address ":9001"
    volumes:
      - minio-data:/data
volumes:
  db-data:
  minio-data:
